---
---
@charset "utf-8";
@import 'bootstrap/bootstrap';


@font-face {
    font-family: 'BrownPro-Regular';
    src: url('../assets/fonts/brown/BrownPro-Regular.eot#iefix') format('embedded-opentype'), 
    url('../assets/fonts/brown/BrownPro-Regular.otf') format('opentype'),
    url('../assets/fonts/brown/BrownPro-Regular.woff') format('woff'), 
    url('../assets/fonts/brown/BrownPro-Regular.ttf') format('truetype'), 
    url('../assets/fonts/brown/BrownPro-Regular.svg#BrownPro-Regular') format('svg');
    
    font-weight: normal;
    font-style: normal;
}

body {
	height:100vh;
}

p {
	color: #FF0000;
}

nav {
	bottom: 0px;
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
}

@keyframes swing {
    0% { transform: rotate(13deg); }
    100% { transform: rotate(-13deg); }
}

.tagline {
	 transform: rotate(-15deg);
	 margin-left: 9rem;
	 transform-origin: 0% 50%;
	 margin-top: 3rem;
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(96,203,181, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
