<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <div class="row px-5 px-md-4 py-4 h-100 m-0">
        <div class="w-100 w-lg-50 d-flex align-items-start flex-column position-relative">

        	<div class="collapse" id="navbarToggleExternalContent">
        	  <nav class=" mobile-menu">
                {% for item in site.menus.header %}
                <h1 class="text-uppercase mb-0"><a class="{% if page.url == item.url %}text-secondary{% endif %}" title="Go to {{ item.title }}" href="{{ item.url }}">{{ item.title }}</a></h1>
                {% endfor %}
        	  </nav>
        	</div>


        	<div class="mobile-nav position-absolute d-block d-lg-none">
        	  <nav class="navbar float-right navbar-light m-0 p-0">
        	    <button class="navbar-toggler text-primary p-0 border-0 custom-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        	      Menu <span class="navbar-toggler-icon"></span>
        	    </button>
        	  </nav>
        	</div>

            <div class="logo mb-auto text-primary w-100 pb-5 pb-lg-0">
            	<div class="d-flex logo-swing">
	                <div>
	                	<div class="h1 mb-0">D<br/>D</div> 
	                </div>
	                <div class="text-secondary text-center swing">
	                	<div class="h1 mb-0">I<br/>O
                            <p class="position-absolute tagline mt-5">
                                Des artistes et des horloges <br/> en ville de Neuchâtel
                            </p>
                        </div> 
	                </div>
	                <div>
	                	<div class="h1 mb-0">N<br/>N</div> 
	                </div>
	                <div>
	                	<div class="h1 mb-0">G<br/>G</div> 
	                </div>
            	</div>
            </div>
            <nav class="text-uppercase mt-5 mt-lg-2 d-none d-lg-block">

                {% for item in site.menus.header %}
                <h1 class="text-uppercase mb-0"><a class="{% if page.url == item.url %}text-secondary{% endif %}" title="Go to {{ item.title }}" href="{{ item.url }}">{{ item.title }}</a></h1>
                {% endfor %}


                <a href="https://www.neuchatelville.ch/fr/" class="my-4 d-block pl-2">
                	<img src="/css/assets/logos/neuchatel.svg" width="140" alt="Ville de Neuchatel">
                </a>
            </nav>
        </div>
        <div class="content w-100 w-lg-50 mb-0">
            {{ content }}    
        </div>

        <a href="https://www.neuchatelville.ch/fr/" class="my-5 d-lg-none pl-2">
        	<img src="/css/assets/logos/neuchatel.svg" width="140" alt="Ville de Neuchatel">
        </a>
    </div>

    <!-- JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>